body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

section#featured-property {
  text-align: center;
}

nav a {
  padding: 0px 10px 0px 10px;
  background-color: #888;
}

#featured-property figcaption{
  font-size: 10px;
}
